@CHARSET "UTF-8";
	#header{width: 100%;height: 43px;background-color: black;
	margin-top:-0.5%; position:relative;
}
	#header ul{margin-left:14%;height: 43px;margin-bottom:0px;
	list-style-type: none;width: 1000px;
}
	#header li{float: left;width:100px;text-align: center;
}
#header #checkout{
	width:60px;
}
	#header li a{color:white;font-size: 14px;
	font-weight: bold;line-height: 43px;
}



